.zhk-candidate-list {
  flex: 1;
  min-width: 0;
  display: flex;
  overflow-x: auto;
  gap: var(--gap);
  scroll-behavior: smooth;

  /* 隐藏滚动条 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    display: none; /* Webkit */
  }

  &__item {
    font-size: var(--candidate-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    white-space: nowrap; // 确保候选项不换行
    flex-shrink: 0; // 防止在flex容器中被压缩
    padding: 0 8px; // 添加左右内边距
    min-width: 40px; // 最小宽度
    max-height: 40px; // 限制最大高度
    height: 40px; // 固定高度
  }
}